@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
   
    <title>Custom SMS</title>
    @*<link href="~/Content/css/MIS/themes/base/jquery.ui.all.css" rel="stylesheet" />
    <link href="~/Content/css/MIS/onepcssgrid.css" rel="stylesheet" />
    <link href="~/Content/css/template.css" rel="stylesheet" />
    <link href="~/Content/css/templateext.css" rel="stylesheet" />
    <link href="~/Content/css/mainside.css" rel="stylesheet" />
    <link href="~/Scripts/JQueryEasyUI/themes/icon.css" rel="stylesheet" />
    <link href="~/Scripts/JQueryEasyUI/themes/gray/easyui.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-1.7.min.js"></script>
    <script src="~/Scripts/JQueryEasyUI/jquery-1.8.0.min.js"></script>
    <script src="~/Scripts/JQueryEasyUI/jquery.easyui.min.js"></script>
    <script src="~/Scripts/JQueryEasyUI/plugins/jquery.pagination.js"></script>
    <script src="~/Scripts/MIS/jquery-ui-1.8.24.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/DevelopersScripts/dbzValidationChecking.js"></script>
    <link href="~/Scripts/Toastr/toastr-responsive.css" rel="stylesheet" />
    <link href="~/Scripts/Toastr/toastr.css" rel="stylesheet" />
    <script src="~/Scripts/Toastr/toastr.js"></script>
    <script src="~/Scripts/DatePicker/DateTimePicker.js"></script>
    <link href="~/Scripts/DatePicker/jquery.ui.datepicker.css" rel="stylesheet" />*@

    <link href="@Url.Content("~/Content/css/Site.css") " rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/template.css") " rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Scripts/DatePicker/demos.css") " rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Scripts/DatePicker/jquery.ui.core.css") " rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Scripts/DatePicker/jquery.ui.datepicker.css") " rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Scripts/DatePicker/jquery.ui.theme.css") " rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/mainside.css") " rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Scripts/JQueryEasyUI/themes/icon.css") " rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Scripts/JQueryEasyUI/themes/gray/easyui.css") " rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/onepcssgrid.css") " rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Scripts/jquery-autocomplete/jquery-ui.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Scripts/DatePicker/DateTimePickerCss.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js") " type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/JQueryEasyUI/jquery-1.8.0.min.js") " type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/JQueryEasyUI/jquery.easyui.min.js") " type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/DatePicker/jquery-ui-1.10.3.custom.js") " type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/DatePicker/DateTimePicker.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/JQueryEasyUI/plugins/jquery.pagination.js") " type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.js") " type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/DevelopersScripts/dbzValidationChecking.js") " type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/DevelopersScripts/dbzCustomizeEasyUIDataGrid.js") " type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/JQueryEasyUI/datagrid-detailview.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-autocomplete/jquery-ui.custom.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Toastr/toastr.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Scripts/Toastr/toastr.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Scripts/Toastr/toastr-responsive.css")" rel="stylesheet" type="text/css" />


<style type="text/css">
        .col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12 {
            padding: 2px 0;
        }

        .col7 {
            width: 56.5%;
        }

        .contentDetails {
            padding-left: 2%;
            padding-top: 1%;
        }

            .contentDetails .divLeftPanel {
                text-align: left;
                float: left;
                width: 31%;
            }

            .contentDetails .divRightPanel {
                float: left;
                width: 60%;
            }

        .singleLine {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            background: #cccccc -moz-linear-gradient(center top, #cccccc 5%, #b2b2b2 100%) repeat scroll 0 0;
        }

        .divLeftPanel {
        }

        .ui-datepicker-trigger {
            background-image: url("../../Scripts/JQueryEasyUI/themes/gray/images/datebox_arrow.png");
            background-repeat: no-repeat;
            border: none;
            width: 16px;
            height: 16px;
        }

        .custom-buttons {
            background-color: #E0E0E0;
            background: -webkit-linear-gradient(top, #E0E0E0 0, #EFEFEF 100%);
            background: -moz-linear-gradient(top, #E0E0E0 0, #EFEFEF 100%);
            background: -o-linear-gradient(top, #E0E0E0 0, #EFEFEF 100%);
            background: linear-gradient(to bottom, #E0E0E0 0, #EFEFEF 100%);
            background-repeat: repeat-x;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#EFF5FF, endColorstr=#E0ECFF, GradientType=0);
            border-color: #BBBBBB;
            padding: 0px;
            position: relative;
            border-width: 1px;
            border-style: solid;
            min-width: 75px;
        }


            .custom-buttons:hover {
                background-color: #999999;
                background: -webkit-linear-gradient(top, #999999 0, #ABABAB 100%);
                background: -moz-linear-gradient(top, #999999 0, #ABABAB 100%);
                background: -o-linear-gradient(top, #999999 0, #ABABAB 100%);
                background: linear-gradient(to bottom, #999999 0, #ABABAB 100%);
                background-repeat: repeat-x;
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#999999, endColorstr=#ABABAB, GradientType=0);
                border-color: #BBBBBB;
                padding: 0px;
                position: relative;
                border-width: 1px;
                border-style: solid;
                min-width: 75px;
                color: #FFFFFF;
            }



        .leftLevelDiv {
            width: 100%;
        }

        .colleft {
            padding: 2px;
            width: 25%;
            float: left;
        }

        .colleftlast {
            padding: 2px;
            width: 60%;
        }

        .colleftlasttd {
            padding: 2px;
            width: 100%;
        }

        select {
            color: #666666;
            border: 1px solid #d0d0d0;
            border-radius: 4px;
            font-size: 12px;
            padding: 1px;
            height: 30px;
        }
        .ui-dialog{
            display: block;
            z-index: 504;
            outline: 0px none;
            position: absolute;
            height: auto;
            width: 600px;
            top: 161.5px;
            left: 15%;
        }
    </style>
    <script type="text/javascript">
        $(function () {
            $.ajax({
                url: '/Home/CheckSessionTimeOut',
                type: "POST",
                success: function (result) {
                    if (result == "True") {
                        window.top.location = "/Account/Login";
                    }
                },
                complete: function () {

                }
            });
            $('#loading').hide();
            $('#tblImportContactGrid').datagrid({
                title: 'Contact List',
                toolbar: '#tb',
                pagination: true,
                pageNumber: 1,
                pageSize: 10,
                multipleselect:true,
                showFooter: true,
                rownumbers: true,
                columns: [[
                            { field: 'Name', title: 'Name', width: 300, align: 'left'},
                            { field: 'Details', title: 'Details', width: 300, align: 'left' },
                            { field: 'MobileNo', title: 'Customer', width: 300, align: 'left' }
                ]]
            });
            Close_ImportContact_Dialog();
        });
       

        function SendSMS() {
            $('#loading').show();
            var selectedValues = $('#tblDataGrid').datagrid('getChecked');
            if (selectedValues.length <= 0) {
                toastr.warning("Please Select Mobile No");
                $('#loading').hide();
                return;
            }

            

            var stdCodeList = [];
            $.grep(selectedValues, function (item, row) {
                var student = { Code: "", MobileNo: item.MobileNo };
                stdCodeList.push(student);
            });

            var msg = $('#txtMessage').val();
            $('#btnSend').prop('disabled', true);
            $.ajax({
                url: '/SMS/SendSMSToNumber',
                type: "POST",
                //traditional: true,
                dataType: 'json',
                async: true,
                contentType: 'application/json',
                data: JSON.stringify({ stdList: stdCodeList, message: msg, str: 'CustomSMS' }),
                success: function (result) {
                    if (result.IsSuccess == true) {
                        toastr.success(result.Message);
                        $('#loading').hide();
                    }

                    else {
                        toastr.error(result.Message);
                        $('#btnSend').prop('disabled', false);
                        $('#loading').hide();
                    }
                },
                complete: function () {
                    $('#loading').hide();
                }
            });
        }

        var rows = [];
        function Add() {
            var mobileList = [];

            mobileList.push({
                Name: $('#txtName').val(),
                Details: $('#txtDetails').val(),
                MobileNo: $('#txtMobileNo').val(),
                Delete: "<div class = 'btnDelete'  title = 'Delete' onclick='DeleteMobileNo()'></div>"
            });

            var chck = 0;
            if (rows.length > 0) {
                $.grep(rows, function (item) {
                    if (item.MobileNo == mobileList[0].MobileNo) {
                        toastr.warning('Already Added');
                        chck = 1;
                    }
                });
            }

            if (chck == 0) {
                rows.push(mobileList[0]);
            }

            $('#txtMobileNo').val('');
           
            $('#tblDataGrid').datagrid('loadData', rows);
        }

        function SaveContact() {
            Add();
            $('#loading').show();
            var name = $('#txtName').val();
            var details = $('#txtDetails').val();
            var mobileNo = $('#txtMobileNo').val();
            $.ajax({
                url: '/SMS/SaveContactNos',
                type: "POST",
                dataType: 'json',
                data: JSON.stringify({ name: name, details: details, mobileNo: mobileNo }),
                async: true,
                contentType: 'application/json',
                success: function (data) {
                    toastr.success('Data Saved Successfully');
                    $('#txtName').val('');
                    $('#txtMobileNo').val('');
                    $('#txtDetails').val('');
                },
                complete: function () {
                    $('#loading').hide();
                }
            });
           
        }
        function Open_ImportContact_Dialog() {
            $('#ImportContact_Dialog').dialog('open');
            LoadContactNo();

        }
        function Close_ImportContact_Dialog() {
            $('#ImportContact_Dialog').dialog('close');
        }
        function LoadContactNo() {
            $.ajax({
                url: '/SMS/GetContactNos',
                type: "POST",
                dataType: 'json',
                async: true,
                contentType: 'application/json',
                success: function (data) {
                    $('#tblImportContactGrid').datagrid('loadData', data);
                },
                complete: function () {
                    $('#loading').hide();
                }
            });
        }
        function Clear(parameters) {
            rows = [];
            $('#txtName').val('');
            $('#txtDetails').val('');
            $('#txtMobileNo').val('');
            $('#txtMessage').val('');
            $('#btnSend').prop('disabled', false);
            $('#tblDataGrid').datagrid('loadData', []);
        }

        function Ok() {
            var rows = [];
           var itms = $('#tblImportContactGrid').datagrid('getSelections');
           for (var i = 0; i < itms.length; i++) {
               rows.push({
                   Name: itms[i].Name,
                   Details: itms[i].Details,
                   MobileNo: itms[i].MobileNo,
                   Delete: "<div class = 'btnDelete'  title = 'Delete' onclick='DeleteMobileNo()'></div>"
               });
               }
            
            $('#tblDataGrid').datagrid('loadData', rows);
            Close_ImportContact_Dialog();
        }
      
    </script>
</head>
<body>
    <div>

        <div id="divSearch" class="panel-header" style="padding:15px; padding-left: 1%" align="left">
            <fieldset style="width: 60%; ">


                <div class="" style="width: 100%; float: left">
                    <div style="margin-top: 1%;width: 20%; float: left;" align="left">Name</div>
                    <div style="margin-top: 1%; width: 60%; float: left; padding-left: 30px;">
                        <input type="text" id="txtName" style="width: 70%; height: 5%;" placeholder="Name"/>
                    </div>
                    <div style="margin-top: 1%; width: 10%; float: left;">
                        <a href="#" onclick="Open_ImportContact_Dialog()">Import</a>
                    </div>
                </div>

                <div class="" style="width: 100%; float: left">
                    <div style="margin-top: 1%; width: 20%; float: left;" align="left">Details</div>
                    <div style="margin-top: 1%; width: 60%; float: left; padding-left: 30px;">
                        <input type="text" id="txtDetails" style="width: 70%; height: 5%;" placeholder="Details" />
                    </div>
                </div>
                <div class="" style="width: 100%; float: left">
                    <div style="margin-top: 1%;width: 20%; float: left;" align="left">Mobile No.</div>
                    <div style="margin-top: 1%; width: 60%; float: left; padding-left: 30px;">
                        <input type="text" id="txtMobileNo" style="width:70%; height: 5%;" placeholder="Mobile Number" />
                    </div>
                </div>
                <div style="margin-top: 1%; padding-left: 30px; width: 50%; float: left; ">
                    <input type="button" value="Add" class="br-buttons" onclick="Add()"/>
                    <input type="button" value="Add & Save" class="br-buttons" onclick="SaveContact()"/>
                    <input type="button" value="Clear" class="br-buttons" onclick="ClearInfo()"/>
                </div>

            </fieldset>

        </div>

        <div class="ViewPanel" style="height: 350px;overflow-y: scroll">
            <table id="tblDataGrid" class="easyui-datagrid" toolbar="#toolbar" autorowheight="true" width="200px"
                   fitcolumns="true"
                   multipleselect="true"
                   rownumbers="true"
                   pagination="true"
                   pagesize="10">
                <thead>
                    <tr>
                        <th data-options="field:'Status',checkbox:true">
                        </th>
                        <th field="Name" width="50" sortable="true">Name</th>
                        <th field="Details" width="50" sortable="true">Details</th>
                        <th field="MobileNo" width="50" sortable="true">Mobile No.</th>
                        <th field="Delete" width="10" sortable="true">Delete</th>
                    </tr>
                </thead>
            </table>
        </div>

    </div>
    <div class="panel-header" style="width: 100%; float: left; text-align: center">

        <div class="onerow">

            <div style="width: 20%; text-align: right; float: left;">
                Type Your Message
            </div>
            <div style="width: 70%">
                <textarea id="txtMessage" style="width: 70%; float: left;"></textarea>
            </div>


        </div>


        <br />
        <input type="button" class="br-buttons" id="btnSend" value="Send SMS" onclick="SendSMS()"/>
        <input type="button" class="br-buttons" value="Clear" onclick="Clear()" />

    </div>
<div class="panel-header" style="width: 100%; float: left; text-align: center">


</div>
    <div id="ImportContact_Dialog" class="easyui-dialog" style="width: 900px;
        height: 400px; padding: 10px" data-options="title:'Copy',buttons:'#bb2',modal:true">
        <table id="tblImportContactGrid" class="easyui-datagrid" toolbar="#toolbar" autorowheight="true" width="700px"
               fitcolumns="true"
               multipleselect="true"
               rownumbers="true"
               pagination="true"
               pagesize="10">
            <thead>
            <tr>
                <th data-options="field:'Status',checkbox:true">
                </th>
                <th field="Name" width="50" sortable="true">Name</th>
                <th field="Details" width="50" sortable="true">Details</th>
                <th field="MobileNo" width="50" sortable="true">Mobile No.</th>
            </tr>
            </thead>
        </table>
        <div>
            <input type="button" value="Ok" onclick="Ok()"/>
        </div>
    </div>
    <div id='loading'><div id='loader'>Loading...</div></div>
</body>
</html>
